{{page-title "Application"}}

<div class="main">
  <h1>route test</h1>
  Current tests:
  {{#each @model as |test|}}
    <hr>
    <div>
      <LinkTo @route="test.test" @model={{test}}>{{test.id}} via object</LinkTo>
      <LinkTo @route="test.test" @model={{test.id}}>{{test.id}} via string</LinkTo>
    </div>
  {{/each}}

  {{outlet}}
</div>